<h1>Edit Flashcard</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<%= form_for(@flashcard, :url => deck_flashcard_path(@deck, @flashcard.id)) do |f| %>
			<%= render 'fields', f: f %>
			<div><%= f.submit "Save Changes", class: 'btn btn-large btn-primary' %></div>
		<% end %>
	</div>
</div>	