<h1>Create Flashcard</h1>
<%= link_to "Back to Deck", @deck %>

<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<%= form_for [@deck, @flashcard] do |f| %>
			<%= render 'fields', f: f %>
			<div><%= f.submit "Create Flashcard", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
</div>	