<h1>Update Your Email Address</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<div><%= f.submit "Save Changes", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
</div>	