@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#main-container {
  text-align: center;
}

h1 {
  font-weight: bold;
}
h1, h2, h3 {
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .nav, .dropdown-menu {
    text-align: right;
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  width: 100%;
  padding: 5px 10px;
}

form {
  label {
    text-align: left;
    display: block;
    width: 70%;
  }
}

.btn {
  width: inherit;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.new_flashcard, .edit_flashcard {
  textarea {
    width: 70%;
    font-size: 2em; 
    font-weight: bold;
    padding: 10px;
    text-align: center;

  }
}

/* Deck Index */
.deck-list, {
  list-style-type:none;
  padding: 0;
  margin: 5px auto;
}

/* Deck Show */
.flashcard-list {
  list-style-type: none;
  padding: 0;
  margin: 10px auto;
}

/* Flashcard Show */
.flashcard-container { 
  margin-top: 10px;
  position: relative;
  -webkit-perspective: 800;
  cursor: pointer;
}

.card {
  width: 70%;
  margin: 0 auto;
  height: 20em;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;

  div {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    background: white;
    position: absolute;
    border: solid black 1px;

    font-size: 2em; 
    font-weight: bold;
    padding: 10px;
    
  }
  .card-front {
    z-index: 1;
   
  }
  .card-back {
    -webkit-transform: rotatey(-180deg);
  }

}
  .flipped {
  -webkit-transform: rotatey(-180deg);
  }

.clearfix {
  float: none;
}

